IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=1000
PATH_SUPERBLOQUE=/home/ivan/Desktop/tp-2023-1c-Tuki-Tuki/Filesystem/cfg/superbloque.dat
PATH_BITMAP=/home/ivan/Desktop/tp-2023-1c-Tuki-Tuki/Filesystem/cfg/bitmap.dat
PATH_BLOQUES=/home/ivan/Desktop/tp-2023-1c-Tuki-Tuki/Filesystem/cfg/bloques.dat
PATH_FCB=/home/ivan/Desktop/tp-2023-1c-Tuki-Tuki/Filesystem/cfg/fcb